@charset "UTF-8";
html,
body {
  min-height: 100vh;
  width: 100%;
}

.img-svg {
  opacity: 1;
}

.img-svg svg {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  scroll-behavior: smooth;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 14px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  cursor: pointer;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
}

input,
textarea {
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

label {
  cursor: pointer;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'iner';
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
}

body {
  background-color: #E9E9E9;
  font-family: "iner", sans-serif, Arial;
}

.header {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__wrp {
  max-width: 1364px;
  width: 100%;
  margin: 0 auto;
  padding: 3px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #3A3A3A;
  letter-spacing: 0.005em;
}

.header__nav-wrp {
  max-width: 900px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__lang-wrp {
  max-width: 176px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item:hover {
  color: #5D5FEF;
  cursor: pointer;
}

.lang-item:hover {
  color: #5D5FEF;
  cursor: pointer;
}

.nav-list-active,
.lang-item-active {
  color: #5D5FEF;
}

.main-idea {
  margin-bottom: 24px;
  background-image: url(../img/idea_bg.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-size: contain;
}

.main-idea__wrp {
  max-width: 1364px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  min-height: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-idea__text {
  max-width: 640px;
  width: 100%;
}

.main-idea__title {
  font-size: 38px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.005em;
  margin-bottom: 56px;
  text-transform: uppercase;
}

.main-idea__description {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.005em;
}

.main-idea__img-wrp {
  padding-top: 65px;
}

.main-request {
  height: 573px;
  background-image: url(../img/polygon_13.png);
  background-repeat: no-repeat;
  background-position: right 0% top 42%;
}

.main-request__wrp {
  max-width: 1364px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-request__img-wrp {
  margin-right: 32px;
}

.main-request__text {
  max-width: 687px;
  width: 100%;
}

.main-request__title {
  font-size: 28px;
  font-weight: 600;
  color: #383737;
  letter-spacing: 0.005em;
  margin-bottom: 38px;
}

.main-request__description {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.005em;
  margin-bottom: 72px;
}

.main-request__button-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-request__button-request {
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  color: #ffffff;
  background-color: #5D5FEF;
  margin-right: 32px;
  padding: 23px 50px;
  text-transform: uppercase;
  letter-spacing: 0.005em;
  -webkit-transition: .3s, ease;
  transition: .3s, ease;
}

.main-request__button-request:hover {
  background-color: #4144F1;
  -webkit-transition: .3s, ease;
  transition: .3s, ease;
}

.main-request__button-contacts {
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  color: #5D5FEF;
  background-color: transparent;
  border: 3px solid #5D5FEF;
  padding: 23px 87px;
  text-transform: uppercase;
  letter-spacing: 0.005em;
  -webkit-transition: .3s, ease;
  transition: .3s, ease;
}

.main-request__button-contacts:hover {
  background-color: #4144F1;
  color: #ffffff;
  border-color: #4144F1;
  -webkit-transition: .3s, ease;
  transition: .3s, ease;
}

.main-offer__wrp {
  max-width: 1364px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-offer__title {
  font-size: 32px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0.005em;
  margin-bottom: 28px;
}

.main-offer__text {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.005em;
  margin-bottom: 54px;
}

.main-offer__list {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
}

.main-offer__item {
  max-width: 276px;
  width: 100%;
  height: 276px;
  padding: 48px 0 0;
  background: #ffffff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-offer__item-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 48px;
}

.main-offer__item-text {
  max-width: 205px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}

.main-offer__description {
  max-width: 1200px;
  width: 100%;
  padding: 41px 103px;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-offer__description-text {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.005em;
  max-width: 994px;
  width: 100%;
}

.main-purpose {
  height: 573px;
  margin-bottom: 92px;
  padding-top: 92px;
  background-image: url(../img/polygon_14.png);
  background-repeat: no-repeat;
  background-position: left 0% bottom 42%;
}

.main-purpose__wrp {
  max-width: 1364px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-purpose__text {
  max-width: 657px;
  width: 100%;
}

.main-purpose__title {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.005em;
  margin-bottom: 38px;
}

.main-purpose__button-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-purpose__button-order {
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  color: #ffffff;
  background-color: #5D5FEF;
  margin-right: 32px;
  padding: 23px 50px;
  text-transform: uppercase;
  letter-spacing: 0.005em;
  -webkit-transition: .3s, ease;
  transition: .3s, ease;
}

.main-purpose__button-order:hover {
  background-color: #4144F1;
  -webkit-transition: .3s, ease;
  transition: .3s, ease;
}

.main-purpose__button-about {
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  color: #5D5FEF;
  background-color: transparent;
  border: 3px solid #5D5FEF;
  padding: 23px 87px;
  text-transform: uppercase;
  letter-spacing: 0.005em;
  -webkit-transition: .3s, ease;
  transition: .3s, ease;
}

.main-purpose__button-about:hover {
  background-color: #4144F1;
  color: #ffffff;
  border-color: #4144F1;
  -webkit-transition: .3s, ease;
  transition: .3s, ease;
}

.main-realization {
  height: 540px;
}

.main-realization__wrp {
  max-width: 1364px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: 3fr 1fr 3fr;
      grid-template-columns: 3fr 1fr 3fr;
  grid-row-gap: 116px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-realization__development-triangle {
  background-image: url(../img/lightblue_triangle.svg);
  background-repeat: no-repeat;
  height: 134px;
  width: 134px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main-realization__development-triangle-text {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.005em;
  letter-spacing: 0.07em;
  height: 111px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-realization__development-numer {
  font-size: 48px;
  font-weight: 700;
  color: #3A3A3A;
  letter-spacing: 0.005em;
  -ms-grid-column-align: right;
      justify-self: right;
}

.main-realization__development-text {
  font-size: 28px;
  font-weight: 600;
  color: #3A3A3A;
  letter-spacing: 0.005em;
  -ms-grid-column-align: left;
      justify-self: left;
}

.main-realization__content-text {
  font-size: 28px;
  font-weight: 600;
  color: #3A3A3A;
  letter-spacing: 0.005em;
  -ms-grid-column-align: right;
      justify-self: right;
}

.main-realization__content-triangle {
  background-image: url(../img/green_triangle.svg);
  background-repeat: no-repeat;
  height: 134px;
  width: 134px;
  -ms-grid-column-align: right;
      justify-self: right;
  position: relative;
}

.main-realization__content-triangle::before {
  content: 'Aa';
  font-size: 36px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.005em;
  position: absolute;
  right: 23px;
  bottom: 18px;
}

.main-realization__content-triangle::after {
  content: url(../icons/content_icon.svg);
  position: absolute;
  left: 50px;
  top: 43px;
}

.main-realization__content-numer {
  font-size: 48px;
  font-weight: 700;
  color: #3A3A3A;
  letter-spacing: 0.005em;
  -ms-grid-column-align: left;
      justify-self: left;
  padding-left: 64px;
}
/*# sourceMappingURL=main.css.map */